<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>GpsMonitoring</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>JazdaService</display-name>
    <servlet-name>JazdaService</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.JazdaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JazdaService</servlet-name>
    <url-pattern>/JazdaService</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Vodic</display-name>
    <servlet-name>Vodic</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.VodicService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vodic</servlet-name>
    <url-pattern>/Vodic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Uctovnik</display-name>
    <servlet-name>Uctovnik</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.UctovnikService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Uctovnik</servlet-name>
    <url-pattern>/Uctovnik</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Veduci</display-name>
    <servlet-name>Veduci</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.VeduciService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Veduci</servlet-name>
    <url-pattern>/Veduci</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Zakazka</display-name>
    <servlet-name>Zakazka</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.ZakazkaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Zakazka</servlet-name>
    <url-pattern>/Zakazka</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Pracovisko</display-name>
    <servlet-name>Pracovisko</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.PracoviskoService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pracovisko</servlet-name>
    <url-pattern>/Pracovisko</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Suradnica</display-name>
    <servlet-name>Suradnica</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.SuradnicaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Suradnica</servlet-name>
    <url-pattern>/Suradnica</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Tankovanie</display-name>
    <servlet-name>Tankovanie</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.TankovanieService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tankovanie</servlet-name>
    <url-pattern>/Tankovanie</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>VozidloVodic</display-name>
    <servlet-name>VozidloVodic</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.VozidloVodicService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VozidloVodic</servlet-name>
    <url-pattern>/VozidloVodic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Vozidlo</display-name>
    <servlet-name>Vozidlo</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.VozidloService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vozidlo</servlet-name>
    <url-pattern>/Vozidlo</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CiselnikStavov</display-name>
    <servlet-name>CiselnikStavov</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.CiselnikStavovService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CiselnikStavov</servlet-name>
    <url-pattern>/CiselnikStavov</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>StavJazdy</display-name>
    <servlet-name>StavJazdy</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.entities.StavJazdyService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StavJazdy</servlet-name>
    <url-pattern>/StavJazdy</url-pattern>
  </servlet-mapping>
    <servlet>
    <display-name>GpsExport</display-name>
    <servlet-name>GpsExport</servlet-name>
    <servlet-class>sk.tuke.seregely.dipl.services.utilities.GpsExportService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GpsExport</servlet-name>
    <url-pattern>/GpsExport</url-pattern>
  </servlet-mapping>
</web-app>